.component-App{
    background-color: rgb(230, 236, 240);
    font-size: 14px;
    line-height: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: rgb(20, 23, 26);
}
.component-area-centre {
    margin: 0px, 10px, 0px, 10px;
}