.profileImage {
    display: inline-block;
}

.profileName {
    display: inline-block;
}

.topRow {
    height: 74px;
}

.user {
   
}
#donald {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
}