.tweet {
    font-size: 16px;
    margin-bottom: 10px;
    border: 2px solid blue;
    padding: 5px;
}
#heart{
    display:inline-block;
    width:10%;
}
#retweet {
    display:inline-block;
    width: 10%;
}
#envelope {
    display:inline-block;
    width: 10%;
}
#comment {
    display:inline-block;
    width: 10%;
}
#obie {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
}

#mediaPic {
    border-radius: 2%;
    height: 50%;
    width: 80%;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 5px;
}